
<br />
<h2><b>List of Questions</b></h2>
<hr width="75%" align="left">

<%= link_to 'Create a New Question', new_question_path %>
<table id="questions" class="display">
<thead>
  <tr>
    <th>ID</th>
    <th>Question</th>
    <th>Description</th>
    <th>No Quiz</th>
    <th>Quiz</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>
</thead>
<tbody> 
<% @questions.each do |question| %>
  <tr>
	<td><%= question.id %></td>
    <td><%= question.question %></td>
    <td><%= question.description %></td>
	<td><%= link_to(question.quiz_id, { :controller => "tests", :action => "show", :id => question.quiz_id })%></td>
	<td><%= link_to(question.test.name, { :controller => "tests", :action => "show", :id => question.quiz_id })%></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
<% end %>
</tbody> 
</table>

<br />
<h5> The content in this page corresponds to item #4</h5>
