<br />
<h2><b>List of Answers</b></h2>

<table id="answers" class="display">
<thead>
  <tr>
    <th>No</th>
    <th>User name</th>
    <th>No Question</th>
    <th>Question</th>
    <th>Response given by user</th>
    <th>No Quiz</th>
    <th>Quiz</th>
  </tr>
</thead>
<tbody> 
<% @answers.each do |answer| %>
  <tr>
    <td><%= answer.id %></td>
    <td><%= answer.user_name %></td>
    <td><%= answer.question_id %></td>
    <td><%= answer.question.question %></td>
    <td><%= answer.response %></td>
    <td><%= answer.quiz_id %></td>
    <td><%= answer.question.test.name %></td>

  </tr>
<% end %>
</tbody> 
</table>

    <td><%#  link_to 'Show', answer %></td>
    <td><%# link_to 'Edit', edit_answer_path(answer) %></td>
    <td><%#  link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<br />

<%# link_to 'New Answer', new_answer_path %>
